<div>
  <form [formGroup]="createPatientForm" (ngSubmit)="onPatientFormSubmit()">
    <h3>Add New Patient</h3>
    <div class="this-should-be-form">
      
      <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label for="">Twiter</label>
        <input type="text" class="form-control" formControlName="twitter">
      </div>
      <div class="form-group">
        <label for="">surname</label>
        <input type="text" class="form-control" formControlName="surname" >
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>
  </form>
</div>