<div>
  <h3>Add New Patient</h3>
  <div class="this-should-be-form">

      <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" value="{{patient.name}}">
      </div>
      <div class="form-group">
          <label for="">Twiter</label>
          <input type="text" class="form-control" value="{{patient.twitter}}">
      </div>
      <div class="form-group">
          <label for="">surname</label>
          <input type="text" class="form-control" value="{{patient.surname}}">
      </div>
      <div class="form-group">
          <button class="btn btn-success">Submit</button>
      </div>
  </div>
</div>